/* Coming soon */
/*==============
  [00] Page General css
=================*/
body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.loader {
  border: 16px solid #111;
  border-top: 16px double #5076db;
  border-bottom: 16px double #5076db;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    Transform: rotate(0deg);
  }
  100% {
    Transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    Transform: rotate(0deg);
  }
  100% {
    Transform: rotate(360deg);
  }
}
/*==============
  [01] Page css
=================*/
.page-section .content-detail #timer .date-box {
  margin: 8px;
  padding: 10px;
  width: 85px;
  height: 85px;
  display: inline-block;
  background-color: #48cba4;
  font-size: 28px;
  font-weight: 600;
  z-index: 2;
  color: #fff;
  border-radius: 30px;
}
.page-section .content-detail #timer .text {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.page-section .content-detail .parallax {
  position: absolute;
}
.page-section .content-detail #shape1,
.page-section .content-detail #shape2,
.page-section .content-detail #shape3,
.page-section .content-detail #shape4,
.page-section .content-detail #shape5,
.page-section .content-detail #shape6,
.page-section .content-detail #shape7 {
  opacity: 0.7;
}
.page-section .content-detail #shape1 {
  bottom: 20px;
  right: 500px;
}
.page-section .content-detail #shape2 {
  top: 75px;
  right: 581px;
}
.page-section .content-detail #shape4 {
  top: 40px;
  left: 290px;
}
.page-section .content-detail #shape5 {
  bottom: 138px;
  left: 170px;
}
.page-section .content-detail #shape3 {
  top: 300px;
  right: 250px;
}
.page-section .content-detail #shape6 {
  top: 220px;
  right: 100px;
}
.page-section .content-detail #shape7 {
  bottom: 10px;
  right: 10px;
}

/* Responsive css */
@media (max-width: 991px) {
  .page-section .content-detail #shape1,
  .page-section .content-detail #shape2,
  .page-section .content-detail #shape3,
  .page-section .content-detail #shape4,
  .page-section .content-detail #shape5,
  .page-section .content-detail #shape6,
  .page-section .content-detail #shape7 {
    opacity: 0.7;
  }
}
@media (max-width: 768px) {
  .page-section .content-detail #shape1,
  .page-section .content-detail #shape2,
  .page-section .content-detail #shape3,
  .page-section .content-detail #shape4,
  .page-section .content-detail #shape5,
  .page-section .content-detail #shape6,
  .page-section .content-detail #shape7 {
    opacity: 0.5;
  }
  .page-section .content-detail #shape2 {
    right: 150px;
  }
}
@media (max-width: 575px) {
  .page-section .content-detail #shape1,
  .page-section .content-detail #shape2,
  .page-section .content-detail #shape3,
  .page-section .content-detail #shape4,
  .page-section .content-detail #shape5,
  .page-section .content-detail #shape6,
  .page-section .content-detail #shape7 {
    opacity: 0.3;
  }
  .page-section .content-detail #shape4 {
    top: 30px;
    left: 100px;
  }
  .page-section .content-detail #shape6 {
    top: 130px;
    right: 50px;
  }
  .page-section .content-detail #shape5 {
    bottom: 25px;
    left: 60px;
    display: none;
  }
  .page-section .content-detail #shape1 {
    display: none;
  }
  .page-section .content-detail #timer {
    padding: 20px 0;
  }
  .page-section .content-detail #timer .date-box {
    margin: 8px;
    padding: 10px;
    width: 75px !important;
    height: 75px !important;
    font-size: 18px;
    border-radius: 15px !important;
  }
  .page-section .content-detail #timer .date-box .text {
    font-size: 11px !important;
  }
  .nav-details form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 360px) {
  .page-section .content-detail #shape1,
  .page-section .content-detail #shape2,
  .page-section .content-detail #shape3,
  .page-section .content-detail #shape4,
  .page-section .content-detail #shape5,
  .page-section .content-detail #shape6,
  .page-section .content-detail #shape7 {
    opacity: 0.2;
  }
  .page-section .content-detail #shape2 {
    display: none;
  }
}
/*# sourceMappingURL=coming-soon-page.css.map */