/* Coming soon */
$font-family: "Montserrat", sans-serif;
$color-white: #fff;
$color-detail-text: #f2edf9;

/*==============
  [00] Page General css
=================*/
body {
  font-family: $font-family;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
}
.loader {
  border: 16px solid #111;
  border-top: 16px double #5076db;
  border-bottom: 16px double #5076db;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*==============
  [01] Page css
=================*/
.page-section {
  overflow: hidden;
  .content-detail {
    #timer {
      padding: 30px 0;
      color: #111;
      text-align: center;
      text-transform: uppercase;
      z-index: 5;
      .date-box {
        margin: 8px;
        padding: 10px;
        width: 85px;
        height: 85px;
        display: inline-block;
        background-color: rgb(152, 116, 216);
        font-size: 28px;
        font-weight: 600;
        z-index: 2;
        color: #fff;
        border-radius: 30px;
      }
      .text {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
      }
    }
    .pendulum-thread {
      transform-origin: 50% 0;
      animation: pendulum-move 2.5s ease-in-out infinite;
    }
    .pendulum-shadow {
      margin: 140px auto 0;
      animation: pendulum-shadow 1.25s ease-in-out alternate infinite;
    }
    @keyframes pendulum-move {
      0%,
      100% {
        transform: rotate(25deg);
      }
      50% {
        transform: rotate(-25deg);
      }
    }
    @keyframes pendulum-shadow {
      0% {
        transform: translateX(-220px) scale(1.4, 0.5);
        filter: blur(20px);
      }
      50% {
        filter: blur(3px);
      }
      100% {
        transform: translateX(220px) scale(1.4, 0.5);
        filter: blur(20px);
      }
    }
  }
}

/* Responsive CSS */
@media (max-width: 768px) {
  .page-section {
    .content-detail {
      padding: 0 15px;
      .pendulum-platform {
        display: none;
      }
      .detail-text {
        font-size: 14px;
      }
      .title {
        font-size: 27px;
        display: block;
        text-align: center;
      }
    }
  }
}
@media (max-width: 575px) {
  .page-section {
    .content-detail{
      #timer {
        padding: 20px 0;
        .date-box {
          margin: 8px;
          padding: 10px;
          width: 75px !important;
          height: 75px !important;
          font-size: 18px;
          border-radius: 15px !important;
          .text {
            font-size: 11px !important;
          }
        }
      }
    }
  }
  .nav-details {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
