/* CSS File 
  ===================
    Item Name: Erratum - 404 Error pages + Coming soon + login Tailwind css Template
    Author: Ashish Maraviya
    Version: 4
    Copyright 2024
===================*/
/*------------------------------------------------------------------
  [ Master css file, Table of contents ]
  
  00. General css
  01. Page css
  
------------------------------------------------------------*/

/*------------------------------------------------------------------
  # [Color codes]
    color: #5076db;
    color: #5bc86d;
# */

/*------------------------------------------------------------------
  [Typography]
  
  Body copy:      font-family: 'Montserrat', sans-serif;
-------------------------------------------------------------------*/
$font-family: "Montserrat", sans-serif;
$color-white: #fff;
$color-detail-text: #f2edf9;

/*==============
  [00] Page General css
=================*/
body {
  font-family: $font-family;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}
.loader {
  border: 16px solid #111;
  border-top: 16px double #5076db;
  border-bottom: 16px double #5076db;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*==============
  [01] Page css
=================*/
.page-section {
  overflow: hidden;
  .content-detail {
    .pendulum-thread {
      transform-origin: 50% 0;
      animation: pendulum-move 2.5s ease-in-out infinite;
    }
    .pendulum-shadow {
      margin: 215px auto 0;
      animation: pendulum-shadow 1.25s ease-in-out alternate infinite;
    }
    @keyframes pendulum-move {
      0%,
      100% {
        transform: rotate(25deg);
      }
      50% {
        transform: rotate(-25deg);
      }
    }
    @keyframes pendulum-shadow {
      0% {
        transform: translateX(-220px) scale(1.4, 0.5);
        filter: blur(20px);
      }
      50% {
        filter: blur(3px);
      }
      100% {
        transform: translateX(220px) scale(1.4, 0.5);
        filter: blur(20px);
      }
    }
  }
}
